<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
</head>
<body>
	<section class="login">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="my-card mt-5">

						<!-- email form -->
						<div class="alert alert-success my-3" role="alert">The OTP
							is sent to your email id.</div>

						<!-- message box -->
						<div th:if="${session.message}" class="container">
							<div class="alert alert-danger my-3 text-center" role="alert">
								<span th:text="${session.message}"></span>
							</div>
							<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>

						</div>



						<form action="" th:action="@{/verify-otp}" method="post">
							<div class="form-group my-3">
								<input type="number" placeholder="Enter the OTP" name="otp"
									class="form-control" required />
							</div>
							<div class="container text-center my-3">
								<button class="btn btn-success">Verify</button>
							</div>
						</form>


					</div>

				</div>
			</div>
		</div>
	</section>
</body>

</html>